semanticdb/
auto-save-list/
ede-projects.el
.project-roots*
*~
\#*\#
.\#*
ac-comphist.dat
session.*
elpa/javascript-2.2.1/
.org-id-locations
elpa/archives/
tramp
**/ensime_head
url/cookies
*desktop*
libs/lua-mode/
libs/forml-mode/
swank/
chef-client-running.pid
chef-stacktrace.out
