[user]
  email = jvshahid@gmail.com
  name = John Shahid
[alias]
  l  = log --decorate=short --graph
  lw = log --decorate=short --graph -w

  d = diff
  dw = diff --color-words -w

	prb = pull --rebase

  s = stash save
  sp = stash pop

  co = checkout

  st = status

  c  = commit --verbose

  p  = push --tags
[core]
  editor = emacs -nw
[diff]
  wordRegex = [^=.,()[:space:]\"]+
[color]
	ui = auto
