ac-comphist.dat

# elpa
emacs.d/elpa

# tramp
emacs.d/tramp

# chef
chef-client-running.pid
chef-stacktrace.out
remote_file/

# ido
emacs.d/ido.last

# shell history
emacs.d/eshell/

# url cookies
emacs.d/url/

# java workspace
emacs.d/workspace/

# straight
straight/

# emacs
emacs.d/games/
emacs.d/projectile-bookmarks.eld

# go binaries
/emacs.d/go