[submodule "emacs.d/libs/git-modes"]
	path = emacs.d/libs/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "emacs.d/libs/magit-mode"]
	path = emacs.d/libs/magit-mode
	url = https://github.com/magit/magit.git
[submodule "emacs.d/libs/coffee-mode"]
	path = emacs.d/libs/coffee-mode
	url = https://github.com/jvshahid/coffee-mode.git
[submodule "emacs.d/libs/lua-mode"]
	path = emacs.d/libs/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "emacs.d/libs/arduino-mode"]
	path = emacs.d/libs/arduino-mode
	url = https://github.com/bookest/arduino-mode
[submodule "emacs.d/libs/go-mode"]
	path = emacs.d/libs/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "emacs.d/libs/go-eldoc"]
	path = emacs.d/libs/go-eldoc
	url = https://github.com/syohex/emacs-go-eldoc
[submodule "emacs.d/libs/auto-complete"]
	path = emacs.d/libs/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "emacs.d/libs/gocode"]
	path = emacs.d/libs/gocode
	url = https://github.com/nsf/gocode
[submodule "emacs.d/libs/yasnippet"]
	path = emacs.d/libs/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "emacs.d/libs/popup"]
	path = emacs.d/libs/popup
	url = https://github.com/auto-complete/popup-el
[submodule "emacs.d/libs/go-flymake"]
	path = emacs.d/libs/go-flymake
	url = https://github.com/dougm/goflymake.git
[submodule "emacs.d/libs/dockerfile-mode"]
	path = emacs.d/libs/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode
[submodule "emacs.d/libs/inf-ruby"]
	path = emacs.d/libs/inf-ruby
	url = https://github.com/nonsequitur/inf-ruby
