semanticdb/
auto-save-list/
ede-projects.el
.project-roots*
*~
\#*\#
.\#*
ac-comphist.dat
session.*
.org-id-locations
emacs.d/elpa/javascript-2.2.1/
emacs.d/elpa/archives/
emacs.d/elpa/yasnippet*
tramp
**/ensime_head
url/cookies
*desktop*
libs/lua-mode/
libs/forml-mode/
swank/
chef-client-running.pid
chef-stacktrace.out
remote_file/
emacs.d/libs/go-autocomplete/
emacs.d/libs/ensime-mode/
emacs.d/libs/git-modes/
emacs.d/libs/magit-mode/
emacs.d/libs/coffee-mode/
emacs.d/libs/lua-mode/
emacs.d/libs/rust-mode/
emacs.d/libs/forml-mode/
emacs.d/libs/arduino-mode/
*.deb
emacs.d/ido.last
