[user]
  email = jvshahid@gmail.com
  name = John Shahid
[alias]
  l  = log --decorate=short --graph -w --find-renames=50%
  lw = log --decorate=short --graph --color-words -w --find-renames=50%
  ls = log --graph --decorate=short --pretty=\"format:[%Cred%h%Creset]%d %ar by %Cblue%an%Creset. %Cgreen%s%Creset\" --find-renames=50%

  d = diff --stat -p -w --find-renames=50%
  dw = diff --stat -p --color-words -w --find-renames=50%
  dmb = "!base() { git diff --stat -p $* $(git merge-base HEAD origin/master); }; base"

	prb = pull --rebase

  r = rebase --autosquash

  s = stash save
  sp = stash pop

  co = checkout

  st = status -s -b

  ci = commit --verbose

  p  = push --tags

  su = submodule update --init --recursive

[core]
  editor = emacs -nw --no-desktop
[diff]
  wordRegex = [^=.,()[:space:]\"]+
[color]
	ui = auto
[hub]
	protocol = ssh
[grep]
	lineNumber = true
